<div id="<%= dom_id dish %>">
  <div>
    <strong>Name:</strong>
    <%= dish.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= dish.description %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= dish.category %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= dish.price %>
  </div>

  <div>
    <strong>Rating:</strong>
    <%= dish.rating %>
  </div>

  <div>
    <strong>Available:</strong>
    <%= dish.available %>
  </div>

  <div>
    <strong>Image names:</strong>
    <%= dish.image_names %>
  </div>

  <div>
    <strong>Bestseller:</strong>
    <%= dish.bestseller %>
  </div>

</div>
